@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
    --lightGrey: #e5e5e5;
    --darkGrey: #666666;
    --lightBlue: #52b6ff;
    --darkBlue: #126ba5;
}